.investment {

  .title {
    width: 424px;
    height: 72px;
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    color: #323e4d;
    padding-left: 513px;
  }

  .text {
    width: 997px;
    height: 85px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 1.45;
    text-align: center;
    color: #666666;
    padding-left: 221px;
    margin-top: 84px;

    &-development {
      width: 997px;
      height: 85px;
      font-family: 'Lato', sans-serif;
      font-size: 22px;
      line-height: 1.45;
      text-align: center;
      color: #666666;
      padding-left: 221px;
    }
  }

  .button {
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 1.45;
    text-align: center;
    color: #88b04b;
    border-radius: 35px;
    border: solid 2px #88b04b;
    padding: 26px 65px;
  }

}