.investment {

  &--open {
    .investment__more {
      height: auto;
      opacity: 1;
    }
  }

  .investment__text {
    max-width: 997px;
    font-size: 18px;
    line-height: 1.45;
    text-align: center;
    color: #666666;
    margin: 0 auto;
  }

  &__more {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.1s ease-in-out;
    

    .investment__more_text {
      margin-bottom: 90px;
      margin-top: 22px;
    }

    .investment__placeholder {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      outline: none;
      display: inline-block;
      column-count: 1;

      .ball {
        width: 220px;
        height: 220px;
        background-color: #eaeaea;
        opacity: 0.6;
        font-size: 18px;
        line-height: 1.78;
        text-align: center;
        color: rgba(136, 176, 75, 0.6);
        margin: auto;
        border-radius: 50%;
        padding-top: 25%;
      }

      .name {
        width: 164px;
        min-height: 55px;
        font-size: 30px;
        line-height: 1.07;
        text-align: center;
        color: #666666;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }

  }

  .investment__button {
    padding-top: 85px;
    padding-bottom: 50px;
    background: url('../build/img/shadow-info.png') no-repeat center top;
    background-size: contain;
    text-align: center;

    span {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 35px;
      text-align: center;
      color: #88b04b;
      border-radius: 35px;
      border: solid 2px #88b04b;
      display: inline-block;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: $breakpointPhablet) {
      .investment__placeholder {
          column-count: 3;
      }
  }

  @media only screen and (min-width: $breakpointTablet) {

    .investment__text {
      font-size: 22px;
      line-height: 1.45;
    }

    .investment__button {
        background-size: initial;
        padding-top: 132px;

        span {
          font-size: 22px;
          line-height: 22px;
          padding: 22px 56px;
        }
      }

      .investment__placeholder {
          .name {
            margin-bottom: 0;
          }
      }
  }
}