section {
    max-width: 1180px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    clear: both;

    h2 {
        width: 100%;
        font-weight: 300;
        font-size: 80.4px;
        text-align: center;
        padding: 100px 0;
        margin: 0 auto;
        color: #323e4d;
    }
}

