@import 'variables';
@import 'mixins';
@import 'modules/section';
@import 'modules/header';
@import 'modules/investment';
@import 'modules/footer';
@import 'modules/contact-form';
@import 'modules/contact-info';
@import 'modules/slider';
@import 'modules/localization';

* {
    font-family: 'Lato';
    box-sizing: border-box;
    outline: none;
}

.non-underline:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}